[v-cloak] {
    display: none; 
}

.content-main {
    background: #252525;
    /* background-color: #F7AF00; */
    color: white;
}

.content-page {
    background: #252525;
    /* background-color: #F7AF00; */
    color: white;
    height: 100%;
    width: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.custom-button {
    color: white !important;
    font-size: 20px !important;
}

.custom-error {
    color: white;
    font-family: Verdana;
    font-style: italic;
    font-size: 28px;
}

.v-text-field input {
    font-size: 1.3em;
}

.v-text-field label {
    font-size: 1.3em;
}

.v-expansion-panel {
    background: linear-gradient(90deg, rgba(37,37,37,1) -30%, rgba(37,37,37,1) 130%);
}

.v-expansion-panel-header {
    padding-left: 0px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.v-expansion-panel-content {
    color: white;
}